.rectangle {
	border: 3px solid black;
	width: 60%;
	margin: 0 auto;
	padding-bottom: 50px;
}

input {
	width: 250px;
	height: 17px;
}

table {
	margin: 0 auto;
}

.direct {
	
}

.reset {
	width: 90px;
	height: 30px;
	position: relative;
	left: 200px;
}
